<!DOCTYPE html>
	<html lang="en">
	<head>
 		<meta charset="UTF-8">
 			<title>My Website - About</title>
 				<link rel="stylesheet" href="/static/css/app.css">
	</head>
	<body style="background-color: pink">
		 <h1> 
		 	<center>Alyssa Thompson </center>
		 </h1>
 		<p>
 		I am a third year Information Technology student at the University of the West Indies. My favouirte colour is pink. My hobbies include painting, baking, swimming and watching videos online. My favourite videos to watch are those which are about baking and cake decorating.
 		</p>
	</body>
</html>